<h2 class="sub-header">UPLOAD ASSIGNMENT SPA</h2>
<form>
  <div class="row">
    <div class="col-md-5">
      <label for="assginame">ASSIGNMENT NAME</label>
      <input type="text" class="form-control" id="assginame" placeholder="NAME" ng-model="assignmentname">
    </div>
    <div class="form-group col-md-5">
      <label for="batch">BATCH I.D</label>
      <input type="text" class="form-control" id="batch" placeholder="I.D" ng-model="batchid">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <label for="subname">SUBJECT NAME</label>
      <input type="text" class="form-control" id="subname" placeholder="SUBJECT NAME" ng-model="subjectname">
    </div>
    <div class="col-md-5">
      <label for="coursename">ENTER COUSRENAME</label>
      <input type="text" class="form-control" id="coursename" placeholder="Coursename" ng-model="course">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <label>File input</label>
      <input type="file" file-model="file">
    </div>
  </div>
  <br>
  <div class="col-lg-offset-3">
    <button type="submit" class="btn btn-primary" ng-click="uploadAssign()">Submit</button>
  </div>
</form>
